*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

.navbar-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 6em;
    padding-block: 3em;
}

.navbar-section h1{
    color: #79155B;
}

.navbar-section ul{
    display: flex;
    align-items: center;
    gap: 6rem;
}


.navbar-section ul a{
    color: #79155B;
    font-size: 20px;
    font-weight: 700;
}

.navbar-section ul a.active{
    color: #fff;
    background-color: #79155B;
    border-radius: 0.6rem;
    padding: 0.5em 1em;
    transition: 0.4s linear;
}

.navbar-section button{
    padding: 1em 1.5em;
    background-color: #79155B;
    border: none;
    border-radius: 0.6rem;
}

.navbar-section button a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.home-page {
    transform: translateY(200px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #79155B;
    font-size: 50px;
    text-transform: capitalize;
}

.NotFound{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #79155B;
}

.posts-container{
    padding-inline: 6em;
    padding-block: 4em;
    display: flex;
    align-items: flex-start;
    gap: 2em;
    flex-wrap: wrap;
}

.posts-container .posts-card{
    width: calc((100% - 4em) / 3);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    padding: 1em;
    color:#79155B
}

.posts-card h4{
    font-weight: 700;
    height: 8vh;
    font-size: 1em;
}

.posts-card p{
    -webkit-line-clamp: 2;
    display: -webkit-inline-box;
    overflow: hidden;
    font-size: 1em;
    -webkit-box-orient: vertical;
}

.container{
    padding-inline: 6em;
    padding-block: 4em;
}

.singlePost{
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    color:#79155B;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
    width: 50%;
}

.singlePost-image{
    width: 100%;
}

.singlePost-image img{
    width: 100%;
}

.singlePost-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.singlePost-content span{
    font-size: 18px;
    font-weight: 700;
}

.singlePost-counter{
    display: flex;
    gap: 1em;
    align-items: center;
}

.singlePost-counter button{
    border: 0;
    background-color: #79155B;
    color: #fff;
    font-size: 18px;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
    cursor: pointer;
}

.NotFound a{
    font-size: 20px;
    padding: 1em 1.5em;
    background-color: #79155B;
    border: none;
    border-radius: 0.6rem;
    color: #fff;
    transition: 0.5s;
}

.NotFound a:hover{
    background-color: #a73b87;
}


.loading{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(1px);
}

.loading p{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

@media (max-width:1024px) {
    .posts-container{
        padding-inline: 1.5em;
    }
    .posts-container .posts-card{
        width: calc((100% - 2em) / 2);
    }
}
@media (max-width:768px) {
    .posts-container .posts-card{
        width: 100%;
    }

    .singlePost{
        width: 100%;
    }
}